-pl !jetty-infinispan/infinispan-remote-query,!tests/test-loginservice/,!tests/test-sessions,!jetty-websocket/websocket-core-tests,!tests/test-webapps/test-http2-webapp/,!tests/test-distribution/,!jetty-osgi/test-jetty-osgi
-e
-Dgradle.internal.testdistribution.writeTraceFile=true
-Dgradle.testdistribution.enabled=true
-Dgradle.testdistribution.maxLocalExecutors=4
-Dsurefire.useModulePath=false
-Dsurefire.rerunFailingTestsCount=2
-DexcludedGroups=large-disk-resource
